.corpo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12vh 130vh 40vh ;
    grid-template-areas: 
    "topo topo topo"
    "meio meio meio"
    "fim fim fim";
    row-gap: 1.5rem;
    background-image: linear-gradient(65deg, rgb(255, 255, 255), rgba(253, 108, 229, 0.17), rgb(197, 57, 253,0.2), rgba(0, 170, 255, 0.2));
}

.cabecalho {
    grid-area: topo;
}
.compra {
    align-self: center;
    grid-area: meio;
    display: grid;
    grid-template-columns: 50vw 22vw;
    grid-template-rows: 78vh 45vh;
    grid-template-areas: 
    "fotos preco"
    "descri descri";
    justify-self: center;
}
.rodape {
    grid-area: fim;
}

.menu {
    display: grid;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: #FDF4D6;
    grid-template-areas: 
    'logo itens frase';
    grid-template-columns: 25% 40% 40%;
    padding: 0.7rem;
    align-items: center;
    
}
.menu_logo {
    margin-left: 1.75rem;
    display: flex;
    align-items: center;
    grid-area: logo;
}
.logo {
    width: 4rem;
}
.font-brand {
    font-family: "Kudryashev Display Sans";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0;
    text-align: center;
}

.menu_itens {
    margin-left: 1.75rem;
    display: flex;
    grid-area: itens;
}

a:link {
    color: #716E6E;
}

a:visited {
    color: #716E6E;
}
a.nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

.frase {
    margin-left: 2rem;
    margin-right: 3rem;
    display: flex;
    font-family: "Halimun";
    grid-area: frase;
    width: fit-content;
}

i#burguer {
    display: none;
}

.nav-link {
    font-size: 18px;
}
.principal {
    width: 23vw;
}
.compra__fotos__principalbic {
   width: 28vw;
}

.detalhe-bic {
    width: 10vw;
    margin-bottom: 2rem;
}
.detalhe {
    width: 7vw;
    margin-bottom: 2rem;
}

.compra__fotos {
    padding: 2rem 0 1rem 2.5rem;
    background-color: rgb(255, 255, 255);
    grid-area: fotos;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: ;
 }
 .compra__fotos__detalhe {   
    display: flex;
    flex-direction: column;
}
 .compra__preco {
    margin: 1rem 1rem 0 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    grid-area: preco;
    padding: 3rem 2rem 1rem 2.5rem;
}
.valor {
    font-size: 1.50rem;
}
.compra__descricao {
    margin: 0 1rem 2rem 1rem;
    padding: 2rem 0 1.5rem 2rem;
    background-color: rgb(255, 255, 255);
    grid-area: descri;
}

.compra_whats {
    font-size: 20px;
    font-weight: 600;
    width: 220px;
    height: 45px;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    background-color: #D2BBFA;
    width: 100vw;
    height: 40vh;
    padding: 2rem;
}

.rodape__sobre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30vw;
 }
 .rodape__sobre ul {
    margin-top: 4rem;
 }

.logo-rodape {
    height: 30vh;
}
.rodape__sobre a:hover {
    text-decoration: none;
    color: #000000;
}
.rodape__sobre a {
    font-weight: 600;
}

.pagamento p {
    height: 40px;
    font-weight: 600;
    width: 30vw;
}

.redes {
    margin-top: 8px ;
    font-weight: 500;
    margin-right: 20px;
    width: 20vw;
}
.redes p {
    margin-bottom: 10px;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    .menu {
        display: grid;
        grid-template-areas: 
        'logo logo frase burguer'
        'itens_menu itens_menu itens_menu itens_menu';
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
    }

    .menu_logo {
        grid-area: logo;
    }
    .menu_itens {
        grid-area: itens_menu;
    }
    .frase {
        grid-area: frase;
    }

    #nav {
        display: none;
    }
    .nav-link {
        text-align: center;
    }

    i#burguer {
        display: block;
        font-size: 25px;
        cursor: pointer;
        padding: 2px;
        width: 20px;
    }
    i#burguer:hover {
        background-color: #f7cbfa;
    }
    .principal {
        height: 495px;
        width: 400px;
    }
     .compra__preco {
        height: 500px;
        margin: 1rem 1rem 0 0;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        grid-area: preco;
        padding: 3rem 0.2rem 0.25rem 0.2rem;
    }
    .valor {
        font-size: 1.50rem;
    }
    .descricao {
        height: 230px;
        margin: 0 1rem 2rem 1rem;
        padding: 1rem 0 0 2rem;
        background-color: rgb(255, 255, 255);
        grid-area: descri; 
    }
    .compra_whats {
        font-size: 10px;
        font-weight: 600;
        width: 120px;
        height: 45px;
    }
    .rodape {
        display: flex;
        height: 25vh;
        padding: 1rem;
    }
    .logo-rodape {
        height: 185px;
        width: 185px;
    }
    .rodape__sobre {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  }
  @media only screen and (max-width: 730px) {
    .menu {
        display: grid;
        grid-template-areas: 
        'logo logo burguer'
        'itens_menu itens_menu itens_menu';
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
    .frase {
        display: none;
    }
    .compra {
        grid-area: meio;
        display: grid;
        grid-template-columns: 60vw;
        grid-template-rows: 30vh 37vh 30vh;
        grid-template-areas: 
        "fotos"
        "preco"
        "descri";
    }
     .compra__fotos {
        padding: 2rem;
        margin: 0;
     }
     .compra__preco {
        height: 300px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        grid-area: preco;
        padding: 1rem;
        margin: 0;
        align-items: center;
    }
    .compra__preco h4 {
        font-size: 20px;
    }
    .valor {
        font-size: 18px;
    }
    .compra__preco p {
        font-size: 16px;
    }
    .compra_whats {
        font-size: 16px;
        font-weight: 600;
        width: 220px;
        height: 40px;
    }
    .descricao {
        height: 230px;
        margin: 0;
        padding: 1rem;
        background-color: rgb(255, 255, 255);
        grid-area: descri; 
    }
    .descricao h4 {
        font-size: 20px;
    }
    .descricao p {
        font-size: 13px;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #D2BBFA;
        width: 100vw;
        height: 70vh;
    }
    .rodape__sobre {
        width: 100%;
        align-items: center;
        height: 30vh;
        padding: 0.25rem;
        display: flex;
        flex-direction: column;
    }
    .logo-rodape {
        height: 185px;
        width: 185px;
    }
    .rodape__sobre ul {
        margin-top: 0;
    }
    .pagamento {
        width: 100vw;
        padding: 1rem;
        height: 15vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pagamento img {
        width: 40px;
    }
    .pagamento p {
        width: 100vw;
        margin-bottom: 0;
    }
    .redes {
        width: 100vw;
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes p {
        width: 100vw;
    }
  }

  @media only screen and (max-width: 400px) {

    .compra {
        grid-area: meio;
        display: grid;
        grid-template-columns: 60vw;
        grid-template-rows: 30vh 34vh 40vh;
        grid-template-areas: 
        "fotos"
        "preco"
        "descri";
    }
    .compra__fotos {
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: space-around;
    }
    .compra__fotos__detalhe {
        display: inline;
        height: 5vh;
        margin-bottom: 0;
    }
    .compra__fotos__principalbic {
        width: 36vw;
    }
     .compra__preco {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        grid-area: preco;
        padding: 1rem;
        margin: 0;
        align-items: center;
    }
    .compra__preco h4 {
        font-size: 16px;
    }
   
    .compra__preco p {
        font-size: 12px;
    }
    .compra_whats {
        width: 150px;
        height: 40px;
        justify-self: center;
    }
    .descricao {
        height: 300px;
        margin: 0;
        padding: 1rem;
        background-color: rgb(255, 255, 255);
        grid-area: descri; 
    }
    .descricao h4 {
        font-size: 20px;
    }
    .descricao p {
        font-size: 13px;
    }
    
  }