body {
    background-image: linear-gradient(40deg, rgba(253, 108, 229, 0.319), rgb(255, 255, 255),   rgba(197, 57, 253, 0.174),rgba(0, 170, 255, 0.371));
    font-family: "Inter", sans-serif;
}

.corpo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 35% 35% 10%;
    grid-template-areas: 
    "topo"
    "meio"
    "loca"
    "fim"
    ;
}

.cabecalho {
    grid-area: topo;
}

.cabecalho__logo {
    display: flex;
    width: 500px;
}

.cabecalho__titulo { 
    font-size: 40px;
    padding-left: 50px;
    padding-right: 40px;
    color: #361773;
    font-family: "Kudryashev Display Sans";
    font-weight: 700;
}
.cabecalho__sub {
    font-family: "Halimun"; 
    color: #361773;
    font-size: 20px;
}

.navbar_logo {
    display: flex;
    width: 200px;
    align-items: center;
    margin-right: 90px;
}
.font-brand {
    font-family: "Kudryashev Display Sans";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0;
}

.navbar {
    background-color: #FDF4D6;
}

a:link {
    color: #716E6E;
    
}
a:visited {
    color: #716E6E;
}
a.nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

.font-arte {
    font-family: "Halimun"; 
}

.nav-link {
    font-size: 18px;
}

.cabecalho__banner {
    margin-top: 60px;
    margin-bottom: 25px;
    height: 510px;
    background-image: url(../imagens/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8C9BFA;
    z-index: 1;
}

.contato {
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 3rem;
}

.sobre {
    margin: 5rem 0;
    padding: 3.5rem ;
    width: 60vw;
}
.area__sobre {
    background-color: #fffaf0;
}

.titulo__sobre {
    font-family: "Kudryashev Display Sans";
    font-size: 2rem;
}

.recuo {
    text-indent: 2em;
    text-align: justify;
}

.destaques {
    height: 450px;
    margin: 3.25rem 0 6rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-area: meio;
    justify-content: center;
}

.destaques a:hover {
    color: #000000;
    text-decoration: underline;
}

.destaques h2 {
    margin-bottom: 2rem;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.destaques__foto {
    display: flex;
    justify-content: space-evenly;
    
    width: 300px;
    border: 0.5px solid rgb(133, 128, 128); 
    background-color: rgb(255, 255, 255);
    margin: 30px 40px;
}
.destaques img {
    width: 262.5px;
    height: 350px;
    margin: 15px 50px;
    padding: 15px 20px;
    
}

.destaques__foto:hover {
    box-shadow: 5px 5px 5px 5px #888888;
}

.localizacao {
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    grid-area: loca;
}

.localizacao h3 {
    font-size: 24px;
    text-align: center;
    padding: 30px 0;
}

.rodape {
    
    grid-area: "rodape";
    background-color: #D2BBFA;
    height: 250px;
    grid-area: fim;
}

.rodape__sobre a:hover {
    text-decoration: none;
    color: #000000;
}

.rodape__sobre a {
    font-weight: 600;
}

.pagamento p {
    height: 40px;
    font-weight: 600;
}

.redes {
    margin-top: 8px ;
    font-weight: 500;
    margin-right: 20px;
}
.redes p {
    margin-bottom: 10px;
    font-weight: 600;
}



