
body {
    background-color: #FFFDF5 ;
    font-family: "Inter", sans-serif;
}

.cabecalho {
    height: 754px;
}

.cabecalho-pags {
    height: 210px;
    background-image: url(../imagens/banner-telas.png);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.cabecalho__topo {
    height: 244px;
    background-color: #D2BBFA;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.cabecalho__titulo {
    font-size: 54px;
    margin-bottom: 45px;
    margin-right: 950px;
    color: #361773;
    font-family: 'Just Me Again Down Here', cursive;
}
.cabecalho__banner {
    height: 510px;
    background-image: url(../imagens/banner2.png);
}

.cabecalho__menu {
    font-family: "Inter", sans-serif;
    background-color: #FDF4D6;
    width: 920px;
    height: 79px;
    color: #716E6E;
    border-radius: 40px;   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; 
    justify-content: space-around;
}

.cabecalho__menu li {
    display: inline;
    margin-right: 40px;
}
   
.cabecalho__menu a {
    text-decoration: none;
}

a:link {
    color: #716E6E;
}
a:visited {
    color: #716E6E;
}
a:hover {
    color: #000000
}

.destaques{
    height: 450px;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.destaques img {
    width: 262.5px;
    height: 350px;
    margin: 15px 50px;
}

.localizacao {
    height: 450px;
    margin: 15px 0;
}

.rodape {
    padding: 20px ;
    background-color: #D2BBFA;
    height: 236px;
    display: flex;
    justify-content: space-between;
}


.rodape__sobre {
    margin-left: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
}
h5 {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.rodape__sobre li {
    margin-bottom: 10px;
}


.pagamento {
    margin-top: 8px ;
    width: 250px;
}
.pagamento p {
    height: 40px;
    font-weight: 500;
}


.icn {
    height: 36px;
    margin-right: 10px;
}

.redes {
    margin-top: 8px ;
    font-weight: 500;
    margin-right: 20px;
}
.redes p {
    margin-bottom: 10px;
}



